html {
    font-size: 12px;
}

span {
    margin: 0 10px;
}

.col-md-9 {
    height: 200px;
    line-height: 200px;
    margin:auto;

}

p {
    font-family: arial;
    line-height: 1.5;
    margin: auto;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

body {
    background-color: gray !important;
}

.center-img {
    display: block;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
 }

 .center-block {
     display: block;
 }


