html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%
  }
  

#map {
  position: relative;
  border: 1px black;
  border-radius: 8px;
  height: 700px;
  width: 100%;
}

.container {
  height: 1000px;
  

}