.navbar-brand {
	font-family: "Source Sans Pro";
	font-weight: bolder;
	font-size: 20px;
  margin-left: 40px;
  color: #ffffff;
}

nav .navbar-nav li a{
  color: white !important;
  }

.nav-item{
	padding-left: 15px;
}

.down-arrow{
	padding-top: 100px;
	opacity: 1;
}

.card{
	border:none; 
}


.navbar-brand {
	font-family: "Source Sans Pro";
	font-weight: bolder;
	font-size: 20px;
  margin-left: 40px;
  color: #ffffff;
}

nav .navbar-nav li a{
  color: white !important;
  }

.nav-item{
	padding-left: 15px;
}


.card{
	border:none; 
}

body{
  font-family: 'Barlow Condensed' , sans-serif;
  /* font-size: 20px; */
  padding-bottom: 80px;
  padding-left: 0px;
  margin-left: 0px;
  background-color: lightgrey;
  height: 100%;
  padding: 0;
  margin: 0;
}

.header{
  margin-top: 0;
  font-family: 'Barlow Condensed', sans-serif;
  background: silver;
  color: white;
  padding:20px;
  padding-left: 60px;
  text-transform: uppercase;
  letter-spacing: 4px;
  width:100%;
}

.title{
  margin-top: 20px;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #f5f5f5;
  font-size: 16px;
  
}

#footer p {
  margin: 0;
  font-size: 16px;
}

.navbar-brand {
	font-family: "Source Sans Pro";
	font-weight: bolder;
	font-size: 20px;
  margin-left: 40px;
  color: #ffffff;
}

nav .navbar-nav li a{
  color: white !important;
  }

.nav-item{
	padding-left: 15px;
}

.header{
  margin-top: 0;
  font-family: 'Barlow Condensed', sans-serif;
  background: silver;
  color: white;
  padding:20px;
  padding-left: 60px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.title{
  margin-top: 20px;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #f5f5f5;
}

#footer p {
  margin: 0;
  font-size: 16px;
}

.filters .panel-body {
  padding: 0;
}

.filters {
  margin-top: 10px;
}

select {
  display: block;
  width: 100%;
  padding: 8px;
  color: darkgrey;
  outline: none;
}

#table-area th {
  text-align: center;
}

#table-area th:first-child,
#table-area th:nth-child(2),
#table-area th:nth-child(6) {
  min-width: 50px;
}

.loader {
  margin-top: 50px;
}

.margin-top-50 {
  margin-top: 50px;
}

/* input placeholder color changes */
.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #8e979f;
}

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #8e979f;
}

.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #8e979f;
}

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #8e979f;
}

/* media queries which will only be activated at specific screen sizes */
@media (max-width: 800px) {
  #table-area td {
    font-size: 1em;
  }
}

@media (max-width: 500px) {
  #table-area thead {
    display: none;
  }

  #table-area tr td:first-child {
    font-size: 1.8em;
    font-weight: bold;
    background: #1b3146;
  }

  #table-area tr td:last-child {
    margin-bottom: 20px;
  }

  #table-area tr td:last-child::after {
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 20px;
    content: " ";
    background: aliceblue;
  }

  #table-area td {
    font-size: 1.25em;
  }

  #table-area tbody td {
    display: block;
    text-align: center;
  }

  #table-area tbody td::before {
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    content: attr(data-th);
  }

}

/* keyframe animations which will be used to animate the title */
@keyframes title {
  from {
    opacity: 0;
  }

  to {
    font-size: 7.5rem;
    opacity: 1;
  }
}

@keyframes smaller-title {
  from {
    opacity: 0;
  }

  to {
    font-size: 5.5rem;
    opacity: 1;
  }
}

@keyframes subtitle {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}