.aText {
  font-family: 'Barlow Condensed',sans-serif;
  font-size: 18px;
  text-anchor: middle;
}

.axis-text-main{
  font-family: 'Barlow Condensed',sans-serif;
  text-anchor: middle;
  font-size: 0.75em;
}

.active {
  font-weight: bold;
  fill: #F1574D;
  transition: fill 0.5s ease-out;
  text-anchor: middle;
}

.inactive {
  font-weight: lighter;
  fill: #c9c9c9;
  transition: fill 0.5s ease-out;
  text-anchor: middle;
}

.inactive:hover {
  fill: #000;
  cursor: pointer;
}

/* font size dependent on radius, see app.js */
.countryText {
  font-family: sans-serif;
  fill: #fff;
  text-anchor: middle;
  font-weight: bold;
  font-size: 11px;
}

.countryCircle {
  fill: #e3e3e3;
  stroke: #e3e3e3;
}

.chart {
  display: block;
  margin: 0;
}

.d3-tip {
  padding: 6px;
  font-size: 12px;
  line-height: 1;
  line-height: 1.5em;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  background:rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}

/* Mobile Rules */
/* @media screen and (max-width: 530px) {
  .stateText {
    display: none;
  }

  .aText {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .aText {
    font-size: 13px;
  }
} */
